version: "3.8"

services:
  # ---- Zookeeper ----
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  # ---- Kafka ----
  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

  # ---- Flink JobManager ----
  flink-jobmanager:
    image: flink:1.17-scala_2.12-java11
    container_name: flink-jobmanager
    hostname: flink-jobmanager
    command: jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: 2
        parallelism.default: 1
    ports:
      - "8081:8081" # Web UI
    volumes:
      - flink_data:/opt/flink/data
    depends_on:
      - kafka
      - redis

  # ---- Flink TaskManager ----
  flink-taskmanager:
    image: flink:1.17-scala_2.12-java11
    container_name: flink-taskmanager
    hostname: flink-taskmanager
    command: taskmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jobmanager
        taskmanager.numberOfTaskSlots: 2
    volumes:
      - flink_data:/opt/flink/data
    depends_on:
      - flink-jobmanager
  # ---- Redis ----
  redis:
    image: redis:latest
    ports:
      - "6380:6379"

  # ---- PostgreSQL ----
  postgres-db:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_DB: churn_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  flink_data:
